body {
    background-color:aquamarine;
    color:gray;
    text-align: center;
}

div {
    margin-top: 20%;
}

input, button {
    border-style: none;
    height: 30px
}

input {
    width: 500px;
}

ul {
    list-style: none;
}

li {
    display: flex;
    justify-content:center;
    width: 500px;
    font-size: 30px;
    padding-left: 15px;
    align-items: center;
}

.checked {
    text-decoration:line-through;
}